{% extends 'base.html' %}

{% block title %}
Oraculo
{% endblock title %}

{% block content %}
<div style="display: flex; align-items: flex-start;">
    <img src="https://2.bp.blogspot.com/-LJqZQ3Lqu3k/TwItVXAQmEI/AAAAAAAAAJg/S9G7lHNGZiA/s1600/rick+riordan.jpg" >
    <h2 style="margin: 0px 0 0 0;">Rick Riordan nasceu em 1964, em San Antonio, Texas, e hoje mora em Boston com a esposa e os dois filhos. Autor best-seller do The New York Times, premiado pela YALSA e pela American Library Association, por quinze anos ensinou inglês e histórias em escolas de São Francisco, e é a essa experiência que atribui sua habilidade em escrever para o público jovem.</h2>
</div>
{% endblock content %}
